databases:
  - name: saas-ofm-db
    plan: free

services:
  - type: web
    name: saas-ofm-backend
    runtime: node
    rootDir: backend
    buildCommand: npm install
    startCommand: node server.js
    envVars:
      - key: NODE_ENV
        value: production
      - key: DATABASE_URL
        fromDatabase:
          name: saas-ofm-db
          property: connectionString
